/* ########################################################################################################### */
/* ############################################### MEDIAQUERIES ############################################## */
/* ########################################################################################################### */

@media screen and (max-width: 900px) {
    header {
        flex-direction: column;
        padding: 0;
    }

    header .logo {
        margin: 20px 0;
    }

    header nav {
        width: 100%;
        margin-bottom: 20px;
    }

    .contenido-about .perfil {
        width: 100%;
        justify-content:space-around;
    }

    .contenido-about .descripcion {
        width: 40%;
    }

    .contenido-about .descripcion h1 {
        font-size: 32px;
    }
}

@media screen and (max-width: 700px) {

}

@media screen and (max-width: 450px) {

    header nav a {
        font-size: 14px;
    }

    .contenido-about .perfil {
        flex-direction: column;
    }

    .contenido-about .descripcion {
        width: 100%;
    }

    .contenido-about .descripcion h1 {
        font-size: 22px;
    }

    .contenido-about .descripcion p {
        font-size: 14px;
    }

    .contenido-about .perfil .contenedor-imagen {
        width: 50%;
    }
}