/* ########################################################################################################### */
/* ############################################### MEDIAQUERIES ############################################## */
/* ########################################################################################################### */

@media screen and (max-width: 900px) {
    header {
        flex-direction: column;
        padding: 0;
    }

    header .logo {
        margin: 20px 0;
    }

    header nav {
        width: 100%;
        margin-bottom: 20px;
    }

    .contenido-about .perfil {
        width: 100%;
        justify-content:space-around;
    }

    .contenido-about .descripcion {
        width: 40%;
    }

    .contenido-about .descripcion h1 {
        font-size: 32px;
    }
}

@media screen and (max-width: 830px) {

    .card-grid .card {
        width: 120px;
        height: 160px
    }
    .card-grid .card p {
        font-size: 16px;
    }
    .card-grid .card i {
        font-size: 52px;
    }
}

@media screen and (max-width: 600px) {

    .contenido-skills {
        width: 90%;
    }
    .card-grid .card {
        width: 100px;
        height: 140px
    }
    .card-grid .card p {
        font-size: 14px;
    }
    .card-grid .card i {
        font-size: 46px;
    }

}



@media screen and (max-width: 450px) {

    header nav a {
        font-size: 14px;
    }

    .contenido-about .perfil {
        flex-direction: column;
    }

    .contenido-about .descripcion {
        width: 100%;
    }

    .contenido-about .descripcion h1 {
        font-size: 22px;
    }

    .contenido-about .descripcion p {
        font-size: 14px;
    }

    .contenido-about .perfil .contenedor-imagen {
        width: 50%;
    }

    .contenido-skills {
        width: 100%;
    }

    .card-grid .card {
        width: 80px;
        height: 100px
    }

    .card-grid .card p {
        font-size: 10px;
    }

    .card-grid .card i {
        font-size: 36px;
    }
}