*{
	margin: 0;
	padding: 0;
	text-decoration: none !important;
}

body{
    font-family: 'Acme', sans-serif;
    background-color: #e7e7e7;
    position: relative;
}

/* NAVBAR */
.nav-item{
    font-size: 18px;
}

#corazon-alert{
    font-size: 18px;
}

/* BODY */
.nav-margin{
    margin-top: 70px;
}

.seccion-redondeada{
    border-radius: 10px;
}

.top-redondeado{
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

.bot-redondeado{
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.nav-margin{
    margin-top: 70px;
}


/* INICIO */

#descripcionPerfil{
    margin-top: 20px;
    border-radius: 20px;
}

/* SCRABBLEAR */

#scrabble-section{
    margin-top: 40px;
    border-radius: 20px;
}
#scrabble-section > img{
    margin-top: 20px;
    margin-bottom: 20px;
}

#scrabble-descripcion{
    border-radius: 20px;
    font-size: 18px; 
}

/* FOOTER */
#footer1{
    background-color: #343A40;
}

/* FOOTER 2 */
#footer2{
    background-color: #212529;
}
#footer2 div{ 
    background-color: #212529;
}

