body{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.clear-both{
    clear: both;
}

h1{
    padding: 0;
    margin: 0;
    text-align: center;
    padding-top: 50px;
}

/* ********************************************* TOPBAR **********************************************/
#topbar{
    width: 100%;
    height: 50px;
    background-color: #333;
}

#navBar{
    width: 1000px;
    margin: 0 auto;
    height: 50px;
    
    
    border-right: 2px solid white;
    border-left: 2px solid white;
}

#navBar-logo{
    width: 45px;
    float: left;
    margin-top: 2px;
}

#navBar-corazon{
    width: 50px;
    float: right;

}

#navBar-botones{
    width: 700px;
    height: 50px;

    background-color: gray;
}

.navBar-section{

}

.navBar-section a{


}

.no-border{
    
}



/* ********************************************* CONTENT **********************************************/
#content{
    width: 1000px;
    margin: 0 auto;
    height: 2000px;

    /*
    border-right: 2px solid black;
    border-left: 2px solid black;
    */
}

/* ************** ABOUT-ME SECTION ************** */
#aboutme-section{
    width: 700px;
    height: 700px;
    margin: 0 auto;
}

#my-photo{
    width: 400px;
    display: block;
    margin: auto;
    padding-top: 10px;
    border-radius: 20px;
}

#aboutme-description{
    width: 600px;
    height: 100px;
    margin: 0 auto;
    border: 2px solid black;
    margin-top: 15px;
    border-radius: 15px;
}

#description-text{
    width: 580px;
    height: 80px;
    text-align:center;
    position: relative;
    top: -3px;
}

/* ************** CONTACT SECTION ************** */
#logo-grande{
    width: 400px;
    display: block;
    margin: auto;
    padding-top: 50px;
}

#contact-bar{
    width: 800px;
    height: 50px;
    margin: 0 auto;
    margin-top: 50px;
    padding-left: 205px;
}

.contactbar-section{
    width: 150px;
    float: left;
}

.contactbar-section img{
    width: 50px;
    display: block;
    margin: auto;
}
