body{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.clear-both{
    clear: both;
}

h1{
    padding: 0;
    margin: 0;
    text-align: center;
    padding-top: 50px;
}

/* ********************************************* NAVBAR **********************************************/
#navBar{
    width: 80px;
    height: 640px;
    border-right: 1px solid black;
    position: fixed;
    background-color: #B7F7EC;

}

#navBar-logo{
    width: 60px;
    display: block;
    margin: auto;
    margin-top: 10px !important;
}

#navBar-corazon{
    width: 50px;
    display: block;
    margin: auto;
    margin-bottom: 40px;

}

.navBar-section{
    width: 80px;
    height: 80px;
    text-align: center;
    border-bottom: 1px solid black;
}

.navBar-section a{
    position: relative;
    top: 30px;
    text-decoration: none;
    color: #326FCB;
    font-weight: bold;
    font-size: 85%;
}

.no-border{
    border-bottom: none !important;
}




/* ********************************************* CONTENT **********************************************/
#content{
    position: absolute;
    top: 0px;
    left: 200px;
}

/* ************** ABOUT-ME SECTION ************** */
#aboutme-section{
    width: 700px;
    height: 700px;
    margin: 0 auto;
    padding-top: 30px;
}

#my-photo{
    width: 400px;
    display: block;
    margin: auto;
    border-radius: 20px;
}

#aboutme-description{
    width: 600px;
    height: 100px;
    margin: 0 auto;
    border: 2px solid black;
    margin-top: 15px;
    border-radius: 15px;
}

#description-text{
    width: 580px;
    height: 80px;
    text-align:center;
    position: relative;
    top: -3px;
}

/* ************** CONTACT SECTION ************** */
#contact-section{
    padding-bottom: 85px;
}

#logo-grande{
    width: 400px;
    display: block;
    margin: auto;
    padding-top: 50px;
}

#contact-bar{
    width: 800px;
    height: 50px;
    margin: 0 auto;
    margin-top: 50px;
    padding-left: 205px;
}

.contactbar-section{
    width: 150px;
    float: left;
}

.contactbar-section img{
    width: 50px;
    display: block;
    margin: auto;
}