/* ########################################################################################################### */
/* ################################################# CONTENT ################################################# */
/* ########################################################################################################### */

/* ############################################### */
/* #################### ABOUT #################### */
/* ############################################### */


#particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: -1;
}

.contenido-about {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;

    z-index: 10;
}

.contenido-about .perfil {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contenido-about .descripcion {
    width: 50%;
    text-align: center;
    padding: 20px;
}

.contenido-about .descripcion h1 {
    font-size: 40px;
}

.contenido-about .descripcion p {
    color: #5f5f5f;
}

.contenido-about .perfil .contenedor-imagen {
    width: 35%;
    padding: 20px;
}

.contenido-about .perfil img {
    width: 100%;
    border-radius: 50%;
}

/* ############################################### */
/* #################### SKILLS ################### */
/* ############################################### */

.contenido-skills {
    width: 100%;
    background: #fff;
    padding: 20px;
    min-height: 100vh;
}

.encabezado-skills {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.card-grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card-grid .card {
    width: 180px;
    height: 220px;
    background: #ccc;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

.card-grid .card:hover {
    box-shadow: 0 0 10px #000;
}

.card-grid .card i {
    font-size: 80px;
}

.card-grid .card p {
    font-size: 22px;
    font-weight: bold;
}
